h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 1.9em;
    margin-left: 0;
    margin-right: 80px;
    font-weight: bold;
	text-align:center;
}

.button {
    background-color:#0000FF /*grey*/
    border: none;
    color: black;
    padding: 15px 32px;
	margin-top: 80px;
    text-decoration: none;
	margin-right: 75px;
    display: inline-block;
	border-radius:4px;
    font-size: 12px;
}


file{
font-size: 2em;
    margin-top: 1.90em;
    margin-bottom: 1.9em;
    margin-left: 0.5em;
    margin-right: 0;
	text-align:center;
}


}

label1{
text-align:center;
margin-left: 0.5em;}


div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}




